body
{
    background-color: #000;
    margin: 0;
}

#title
{
    background-color: #fff;
    width: 99vw;
    height: fit-content;
    margin: 0;
    padding: 1vh;
}

#title h1
{
    font-family: Arial;
    color: #000;
    text-align: center;
}

h1 ,h2, h3, h4, h5, h6, p, a, li
{
    font-family: Arial;
    color: #fff;
    margin: 1vw;
}