body
{
    color: #ffffff;
    font-family: 'OMORI';
    background-color: #0e0e0e;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    user-select: none;
}

#content
{
    display: inline-block;
    vertical-align: top;
    background-color: #151515;
    min-width: 20rem;
    min-height: 100%;
    width: 50%;
    overflow: auto;
}

#counters
{
    font-family: 'BLACKSPACE';
    display: inline-block;
    background-color: #080808;
    vertical-align: top;
    height: 100%;
    min-width: 10rem;
    width: 5%;
}

#counters::before
{
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 100vh;
    background-color: #537ab3;
}

#counters .counter
{
    display: block;
    width: calc(100% - 6px);
    height: fit-content;
    background: linear-gradient(to bottom, #080808, #151515 35%);
    margin-bottom: 5px;
}

#counters .counter h1
{
    margin: 0;
    font-size: 1.5vw;
    width: 100%;
    height: 1.5vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#counters .counter p::before
{
    content: "";
    display: block;
    margin-bottom: 12px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #537ab3ff 15%, #537ab300 75%);
}

#counters .counter p
{
    margin: 0;
    font-size: 2vw;
    width: 100%;
    height: calc(2vw);
}

@font-face {
    font-family: 'OMORI';
    src: url(fonts/OMORI_GAME2.ttf);
}

@font-face {
    font-family: 'BLACKSPACE';
    src: url(fonts/OMORI_GAME.ttf);
}