#content
{
    max-width: 20cm;
}

.separator
{
    width: 90%;
    height: 1px;
    margin-top: 15px;
    margin-left: 5%;
    background: linear-gradient(to right, #537ab300, #537ab3ff, #537ab300);
}

table, tbody, tr
{
    width: 100%;
}

table
{
    margin-top: 15px;
}

th, td
{
    font-size: 4vh;
    text-align: center;
}

td
{
    background-color: #404040;
}

th
{
    background-color: #202020;
}