header
{
    background-color: aqua;
}

header input[type="button"]
{
    border: none;
    color: white;
    position: fixed;
    text-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-family: Arial;
    font-size: 30px;
}

header input[type="image"]
{
    float: right;
    padding-right: 20px;
}

header input:hover
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

header input:active
{
    box-shadow: none;
    top: 5px;
    left: 105px;
}

header, header img, header input, footer
{
    height: 50px;
}

body
{
    margin: 0;
    background-color: #404040;
}

.main
{
    text-align: center;
    font-family: Arial;
    color: white;
}

mamadou
{
    font-size: 600px;
}