#tabs
{
    position: absolute;
    width: 90vw;
    height: 10vh;
    top: 5vh;
    left: 5vw;

    background-color: hsla(0, 0%, 0%, 0.45);
    border-radius: 10px;
}

#tabs img
{
    display: inline-block;
    position: absolute;
    height: 8vh;
    left: 1vh;
    top: 1vh;

    border-radius: 4vh;
}

#tabs h1
{
    display: inline-block;
    position: absolute;
    top: calc(calc(4.5vh - 36px) / 2);
    left: 10vh;

    color: #fff;
    font-family: Arial;
}

#tabs a
{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: calc(calc(10vh - 56px) / 2);
    padding: 10px;
    transition: all .2s ease-in-out;

    cursor: pointer;
    background-color: 	#4f4b4c;
    color: #fff;
    border-radius: 10px;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

#tabs a:hover
{
    opacity: .8;
}