body
{
    background-color: #3F3F3F;
    overflow: hidden;
    user-select: none;
    margin-left: 15%;
}

.pfp
{
    width: 256px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #0F0;
}

h1
{
    color: #FFF;
    font-family: Arial;
    display: inline;
    vertical-align: top;
    font-size: 256px;
}

a
{
    display: inline-block;
}

a img
{
    width: 64px;
}
/*
 * Left Part
*/

.left
{
    width: 20%;
    float: left;
    box-shadow: 0px 0px 10px #000;
}

.left p
{
    color: #FFF;
    font-family: Arial;
    text-align: center;
    font-size: 32px;
}

.left a
{
    background-color: transparent;
    color: #FFF;
    font-family: Arial;
    margin: 10px;
    padding: 5px;
    width: 90%;
    font-size: 32px;
    text-decoration: none;
    border-style: solid;
    border-radius: 5rem;
    border-color: #00FF80;
    border-width: 2px;
    animation: button_leave 0.030s linear;
}

.left a:hover
{
    font-size: 34px;
    padding: 10px;
    border-color: #FFF;
    border-width: 4px;
    box-shadow: 0px 0px 10px #00FF80, inset 0px 0px 10px #00FF80;
    animation: button_hover 0.030s linear;
}

@keyframes button_hover
{
    from
    {
        font-size: 32px;
        padding: 20px;
        border-color: #00FF80;
        border-width: 2px;
        box-shadow: 0px 0px 0px #00FF80, inset 0px 0px 0px #00FF80;
    }
    to
    {
        font-size: 34px;
        padding: 22px;
        border-color: #FFF;
        border-width: 4px;
        box-shadow: 0px 0px 10px #00FF80, inset 0px 0px 10px #00FF80;
    }
}

@keyframes button_leave
{
    from
    {
        font-size: 34px;
        padding: 22px;
        border-color: #FFF;
        border-width: 4px;
        box-shadow: 0px 0px 10px #00FF80, inset 0px 0px 10px #00FF80;
    }
    to
    {
        font-size: 32px;
        padding: 20px;
        border-color: #00FF80;
        border-width: 2px;
        box-shadow: 0px 0px 0px #00FF80, inset 0px 0px 0px #00FF80;
    }
}

/*
 * Right Part
*/

.right
{
    width: 60%;
    float: left;
    background-color: #0000001F;
    color: #FFF;
    font-family: Arial;
}

.right .buttons
{
    width: 20%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.right .tabs
{
    width: 75%;
    height: 100%;
    display: inline-block;
}

.right .tabs div *
{
    display: block;
    margin: 10px;
    background-color: #0000001F;
    padding: 5px;
    width: fit-content;
    cursor: help;
    text-decoration: none;
    color: #FFF;
}

.right .tabs div p
{
    cursor: help;
}

.right .tabs div a
{
    cursor: pointer;
}