body
{
    background-color: #323232;
    margin: 0;
    user-select: none;
}

header
{
    margin: 2rem;
    color: #fff;
    font-family: Arial;
}

header *
{
    display: inline;
}

header .background
{
    z-index: -1;
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 3rem;
    width: calc(100% - 2rem);
    background: #0008;
    filter: blur(10px);
}

header .right
{
    float: right;
}

header .right a::after
{
    content: "";
    display: block;
    background-color: #0f0;
    height: 3px;
    border-radius: 1.5px;
    width: 0;
    transition: all 0.1s linear;
    margin-left: 50%;
}

header .right a:hover::after
{
    content: "";
    width: 100%;
    margin-left: 0;
}